*
{
    margin: 0;
    padding: 0; 
}

body
{
    font-family: raleway, sans-serif;
    font-size: 1.3vw;
}

.mainGrid
{
    display: grid;
    grid-template-rows: 0.4fr 1fr 1.3fr;
    grid-template-columns: 2fr 1fr;
    /*grid-gap: 10px;*/
    grid-template-areas: 
        "header header"
        "search search"
        "filters filters";
    margin: 0 2.5em 2.5em 2.5em;
    
}



/*----------HEADER----------*/



.header
{
    grid-area: header; 
    margin-bottom: 1em;
}

.logo
{
    height: 2.5em;
    width: 5em;
    float: left;
    padding-top: 2.5em;
}

.header nav ul
{
    list-style: none;
    float: right;    
}

.header nav ul li
{
    float: left;
	margin: 0.1em 2em 2em 1.6em;
    padding-top: 2em;
    
}

.header li:hover
{
    border-top: 0.1em solid #0065FC;
    
}

.header a:hover
{
    color: #0065FC;
    
}

.header nav ul li a
{
    text-decoration: none;
    color: #000;
    font-size: 0.85em;
}

.header nav ul li a strong
{
    color: #0065FC;
}



/*----------SEARCH----------*/



.search
{
    grid-area: search;
    
}

.search h1
{
    font-size: 1.18em;
    font-weight:bolder;
}

.search p
{
    margin: 0.5em 0 0.5em 0.1em;
    font-size: 0.8em;
    margin-bottom: 1em;
}

.searchBox
{
   
   height: 3.2vw;
   width: 24vw;
   border-radius: 1vw;
   background-color: #f2f2f2;
   position: relative;
   font-size: 1.2vw;
}


.locationIconContainer
{
    margin: 0;
    display: inline; 
}

#locationIcon
{
    height: 2.9vw;
    width: 3vw;
    margin: 0;
    text-align: center;
    font-size: 1.2vw;
    padding-left: 0.1vw;
}

#textarea::placeholder
{
    color: black;
}

#textArea
{
    font-weight: bold;
    border: none;
    height: 3vw;
    width: 16vw;
    padding-top: 0.1vw;
    margin-top: 0.1vw;
    font-size: 1.2vw;
    padding-left: 1em;
}

#searchButton
{
    background-color: #0065FC;
    color: white;
    border-radius: 0 0.9vw 0.9vw 0;
    border: none;
    height: 3.2vw;
    width: 8.7vw;
    padding-top: 0.35vw;
    text-align: center;
    font-size: 1.4vw;
    font-weight: bold;
    position: absolute;
    vertical-align: top;   
}



/*----------FILTERS----------*/



.filters
{
    grid-area: filters;
    margin-top: 1.5em;
}

.filters h2
{
    float: left;
    font-size: 0.9em;
    margin: 0.74em 2em 0 0.3em;
}



.filtersContainer
{
    display: inline-flex;
    width: auto;
    height: 2.8vw;
    border: 0.2vw solid #f2f2f2;
    border-radius: 4vw;
    border-left: none;
    margin: 0 2.4vw 0 0;
    padding-right: 1em;
    align-items: center;
}

.filtersIconContainer
{
    width:3vw;
    height: 3vw;
    background-color: #DEEBFF;
    border-radius: 2em;
    margin-right: 1vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;        
}

.filtersIconContainer i
{
    font-size: 1.2vw; 
    color: #0065FC;       
}

.filtersContainer a
{
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    font-weight: bold;
}

.infoIconContainer
{
    height: 1em;
    width: 1em;
    margin-top: 2em;
    border : 0.1em solid #f2f2f2;
    border-radius: 2em;
    display: inline-block;
    text-align: center;
}


#infoIcon
{
    color: #0065FC; 
    font-size: 0.8vw;
    height: 1.7em;
    line-height: 1.7em;   
}

.filters p
{
    display: inline-block;
    font-size: 0.8em;
    padding-left: 1.1em;
}



/*----------ACCOMODATIONS----------*/



.accomodationsGrid
{
    display: grid;
    grid-template-columns: 15em 15em 15em;
    grid-template-rows: 4em 13em 13em 4em;
    background-color: #f2f2f2;
    height: 32em;
    padding: 1em 1em 1em 2em;
    border-radius: 1em;
    margin-right: 2em;
}
   
.accomodationsGrid a
{
    text-decoration: none;
    color: black;
}

.accTitle
{
    margin: 1em 1em 1em 0;
    font-size: 1em;
    grid-column: 1 / span 3;
    padding-top: 0.5em;
}

.accomodationsGrid article
{
    margin: 0;
    border-radius: 1.5em;
    overflow: hidden;
    height: 10.7em;
    width: 13em;
    justify-self: center;
    padding: 0.3em;
    background: white;
    box-shadow: 0.1vw 0.3vw 0.7vw #e6dcdc;
}

.accImg
{
    width: 100%;
    height: 7em;
    object-fit: cover;
    border-radius: 1.1em 1.1em 0 0;
}

.accOverlay
{
    background-color: white;
    padding: 0.4em 0.8em;
    width: auto;
}

.accOverlay h3
{
    font-size: 0.9em;
}

.accOverlay p
{
    margin-top: 0.1em;
    font-size: 0.77em;
}

.blueStar
{
    color: #0065FC;
    font-size: 0.5em;
}

.greyStar
{
    color: #f2f2f2;
    font-size: 0.5em;
}

.accViewMoreContainer
{
    margin-left: 0.3em;
}

.accViewMore
{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    
}



/*----------POPULAR----------*/



.popularGrid
{
    display: grid;
    grid-template-rows: 4em 10em 10em 10em;
    grid-template-areas: 
        "popularTitle popularIcon"
        "popArticle1 popArticle1"
        "popArticle2 popArticle2"
        "popArticle3 popArticle3";
    background-color: #f2f2f2;
    height: 32em;
    border-radius: 1em; 
    padding: 1em;
    margin-left: 0.5em;
    position: relative;
}

.popularGrid a
{
    text-decoration: none;
    color: black;
}

.popularTitle
{
    grid-area: popularTitle;
    font-size: 1em;
    margin: 1em 1.3em;
    padding-top: 0.5em;
}

#popularIcon
{
    grid-area: popularIcon;
    position: absolute;
    top: 1.5em;
    right: 1.3em;
}

.popularGrid article
{
    height: 7em;
    padding: 0.3em;
    grid-column: 1 / span 2;
    border-radius: 1.3em;
    margin: 0 1em 1em 1em;
    background: white;
    overflow: hidden;
    position: relative;
    box-shadow: 0.1vw 0.3vw 0.7vw #e6dcdc;
}

.popOverlay
{
    background-color: white;
    position: absolute;
    left: 45%;
    top: 6%;
    padding: 1em;
    font-size: 0.45em;
}

.popOverlay h3
{
    font-size: 1.9em;
}

.popOverlay p
{
    margin-top: 0.5em;
    font-size: 1.5em;
}

.popOverlay .fas
{
    margin-top: 4.7em;
    font-size: 1.1em;
}


.popImg
{
    height: 100%;
    width: 6.8em;
    object-fit: cover;
    border-radius: 1.05em 0 0 1.05em;
}



/*----------ACTIVITIES----------*/



.activitiesGrid
{
    display: grid;
    grid-template-rows: 3em 12em 15em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "activitiesTitle activitiesTitle activitiesTitle activitiesTitle"
        "actiArticle1 actiArticle2 actiArticle4 actiArticle5"
        "actiArticle1 actiArticle3 actiArticle4 actiArticle6";
    grid-auto-flow: column;
    margin: 1.5em;
    
}

.activitiesGrid a
{
    text-decoration: none;
    color: black;
}

.activitiesTitle
{
    grid-area: activitiesTitle;
    grid-column: 1 / span 4;
    margin: 1em 1.2em 0 1.2em;
    font-size: 1.1em;
    align-self:center;
}

.activitiesGrid article
{
    margin: 1em;
    width: 16em;
    
}

.actiArticle1
{
    grid-row: 2 / span 2;
    height: 21em;
}

.actiArticle3
{
    padding-top: 2.9em;
}

.actiArticle4
{
    grid-row: 2 / span 2;
    height: 21em;
}

.actiArticle6
{
    padding-top: 0.4em;
}

.activitiesGrid img
{
    box-shadow: 0.08vw -0.05vw 0.6vw #f2f2f2;
}

.actiImgTall
{
    width: 100%;
    height: 21em;
    object-fit: cover;
    border-radius: 1.2em 1.2em 0 0;
    
}

.actiImg2
{
    width: 100%;
    height: 9.6em;
    object-fit: cover;
    border-radius: 1.2em 1.2em 0 0;
}

.actiImg3
{
    width: 100%;
    height: 6.1em;
    object-fit: cover;
    border-radius: 1.2em 1.2em 0 0;
}

.actiImg5
{
    width: 100%;
    height: 7.4em;
    object-fit: cover;
    border-radius: 1.2em 1.2em 0 0;
}

.actiImg6
{
    width: 100%;
    height: 8.5em;
    object-fit: cover;
    border-radius: 1.2em 1.2em 0 0;
}

.actiOverlay
{
    background-color: white;
    padding: 0.8em;
    width: auto;
    height: 2em;
    font-size: 1vw;
    border-radius: 0 0 1.2em 1.2em;
    box-shadow: 0.08vw 0.4vw 0.6vw #f2f2f2;
}

.actiOverlay h3
{
    padding: 0.3em 0.3em;
    
}



/*----------FOOTER----------*/



.footerGrid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    margin: 0;
    background-color: #f2f2f2;
    
}

.footerGrid div
{
    float: left;
    margin: 2em;
}


.footerGrid h2
{
    padding-bottom: 0.5em;
    font-size: 0.9em;
}

.footerGrid div ul
{
    padding-left: 0;
    margin-right: 6em;
    margin-left: 0;
}

.footerGrid div ul li
{
    list-style: none;
    font-size: 0.8em;
    padding-top: 1em;
}

.footerGrid div ul li a
{
    text-decoration: none;
    color: black;
}