/*------------------------------------------------------------------
Vous avez la possibilité de naviguer plus facilement, via CTRL+F,
en tapant le nom d'une section parmi: 
HEADER/SEARCH/FILTERS/ACCOMODATIONS/POPULAR/ACTIVITIES/FOOTER
Ainsi que le nom de la vue souhaitée : 
DESKTOP/INTERMEDIAIRE/MOBILE
Exemple : "SEARCH MOBILE"
------------------------------------------------------------------*/

/*-----------------------------
----------VUE DESKTOP----------
-----------------------------*/


*
{
    margin: 0;
    padding: 0; 
}

body
{
    font-family: raleway, sans-serif;
    font-size: 1.3vw;
}

.upperGrid
{
    display: grid;
    grid-template-rows: 0.4fr 1fr 1.3fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "header header"
        "search search"
        "filters filters";
    margin: 0 2.5em;
    
}


/*------------------------------------
------------HEADER DESKTOP------------
------------------------------------*/


.header
{
    grid-area: header; 
    margin-bottom: 1em;
}

.logo
{
    height: 2.5em;
    width: 5em;
    float: left;
    padding-top: 2.5em;
}

.header nav
{
    position: relative;
}

.header nav ul
{
    list-style: none;
    float: right;
    margin-right: 7em;    
}

.header nav ul li
{
    float: left;
	margin: 0.1em 2em 2em 1.6em;
    padding-top: 2.6em;
    border-top: 0.15em solid white;
    font-size: 0.85em;
    font-weight: 500;
}

.header li:hover
{
    border-top: 0.15em solid #0065FC;
    color: #0065FC;
}

.header nav ul li a
{
    text-decoration: none;
    color: #000;
}

.header nav a strong
{
    position: absolute;
    right: 2em;
    top: 0;
    padding-top: 2.62em;
    margin: 0.1em;
    color: #0065FC;
    border-top: 0.15em solid white;
    text-decoration: none;
    font-size: 0.85em;
    font-weight: 500;
}

.header strong:hover
{
    border-top: 0.15em solid #0065FC;
}



/*------------------------------------
------------SEARCH DESKTOP------------
------------------------------------*/



.search
{
    grid-area: search;
    
}

.search h1
{
    font-size: 1.15em;
    font-weight:800;
}

.search p
{
    margin: 0.5em 0 0.5em 0.1em;
    font-size: 0.82em;
    font-weight: 500;
    margin-bottom: 1em;
}

.searchBox
{
   
   height: 3.2vw;
   width: 24vw;
   border-radius: 1vw;
   background-color: #f2f2f2;
   position: relative;
   font-size: 1.2vw;
}


.locationIconContainer
{
    margin: 0;
    display: inline; 
}

#locationIcon
{
    height: 2.9vw;
    width: 3vw;
    margin: 0;
    text-align: center;
    font-size: 1.2vw;
    padding-left: 0.1vw;
}

#textArea
{
    font-family: raleway, sans-serif;
    font-weight: 800;
    font-size: 1.4vw;
    border: none;
    height: 3vw;
    width: 16vw;
    padding: 0.1vw 1vw 0 1vw;
    margin-top: 0.1vw;
}

#textArea::placeholder
{
    color: black;
}

#textArea::-moz-placeholder
{
    color: black;
    opacity: 1;
}


#searchButton
{
    font-family: raleway, sans-serif;
    background-color: #0065FC;
    color: white;
    border-radius: 0 0.9vw 0.9vw 0;
    border: none;
    height: 3.2vw;
    width: 8.7vw;
    padding-top: 0.35vw;
    text-align: center;
    font-size: 1.4vw;
    font-weight: bold;
    position: absolute;
    vertical-align: top;   
}

.searchIcon
{
    display: none;
}



/*-------------------------------------
------------FILTERS DESKTOP------------
-------------------------------------*/



.filters
{
    grid-area: filters;
    margin-top: 1.5em;
}

.filters h2
{
    float: left;
    font-size: 0.9em;
    font-weight: 800;
    margin: 0.81em 2em 0 0.3em;
}



.filtersContainer
{
    display: inline-flex;
    width: auto;
    height: 2.8vw;
    border: 0.2vw solid #f2f2f2;
    border-radius: 4vw;
    border-left: none;
    margin: 0 2.4vw 0 0;
    padding-right: 1em;
    align-items: center;
    transform: scale(1);
    transition: 500ms all;
}

.filtersIconContainer
{
    width:3vw;
    height: 3vw;
    background-color: #DEEBFF;
    border-radius: 2em;
    margin-right: 1vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;        
}

.filtersIconContainer i
{
    font-size: 1.2vw; 
    color: #0065FC;       
}

.filtersContainer a
{
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    font-weight: 800;
}

.filtersContainer:hover
{
    background: -moz-radial-gradient(#0065FC, #DEEBFF);
    background: radial-gradient(#DEEBFF, #0065FC);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    transition: 500ms all;
}

.infoIconContainer
{
    height: 1em;
    width: 1em;
    margin-top: 2em;
    border : 0.1em solid #f2f2f2;
    border-radius: 2em;
    display: inline-block;
    text-align: center;
}


#infoIcon
{
    color: #0065FC; 
    font-size: 0.8vw;
    height: 1.7em;
    line-height: 1.7em;   
}

.filters p
{
    display: inline-block;
    font-size: 0.8em;
    font-weight: 500;
    padding-left: 1.1em;
}



/*-------------------------------------------
------------ACCOMODATIONS DESKTOP------------
-------------------------------------------*/

article 
{
    /*transition: 50ms all;*/
}

.accPopGrid
{
    display: grid;
    grid-template-columns: 48em 1fr; 
    margin: 0 2.5em;
}

.accomodationsGrid
{
    display: grid;
    grid-template-columns: 14.8em 14.8em 14.8em;
    grid-template-rows: 4em 12.2em 12.2em 4em;
    background-color: #f2f2f2;
    height: 31.5em;
    padding: 1em 1em 1em 1em;
    border-radius: 1em;
    margin-right: 1.5em;
}
   
.accomodationsGrid a
{
    text-decoration: none;
    color: black;
}

.accTitle
{
    margin: 0.7em 1em 1em 0.7em;
    font-size: 1.15em;
    grid-column: 1 / span 3;
    padding-top: 0.4em;
}

.accomodationsGrid article
{
    margin: 0;
    border-radius: 1.2em;
    overflow: hidden;
    height: 9.9em;
    width: 12.5em;
    justify-self: center;
    padding: 0.3em;
    background: white;
    box-shadow: 0.1vw 0.3vw 0.7vw #dfd6d6;
}

.accImg
{
    width: 100%;
    height: 6em;
    object-fit: cover;
    border-radius: 0.9em 0.9em 0 0;
}

.accOverlay
{
    background-color: white;
    padding: 0.4em 0.8em;
    width: auto;
}

.accOverlay h3
{
    font-size: 0.83em;
    font-weight: 800;
}

.accOverlay p
{
    margin-top: 0.1em;
    font-size: 0.77em;
    font-weight: 500;
}

.starsContainer
{
    display: flex;
    font-size: 0.65em;
    padding-top: 0.8em;
}

.blueStar
{
    color: #0065FC;
    padding-right: 0.1em;
}

.greyStar
{
    color: #f2f2f2;
    padding-right: 0.1em;
}

.accViewMoreContainer
{
    margin: 0.45em 0 0 1.1em;
}

.accViewMore
{
    text-decoration: none;
    font-weight: 800;
    color: black;
    font-size: 1em;
    
}



/*-------------------------------------
------------POPULAR DESKTOP------------
-------------------------------------*/



.popularGrid
{
    display: grid;
    grid-template-rows: 4em 9.55em 9.55em 9.55em;
    grid-template-areas: 
        "popularTitle popularIcon"
        "popArticle1 popArticle1"
        "popArticle2 popArticle2"
        "popArticle3 popArticle3";
    background-color: #f2f2f2;
    height: 31.5em;
    border-radius: 1em; 
    padding: 1em 0.9em;
    margin-left: 0.5em;
    position: relative;
}

.popularGrid a
{
    text-decoration: none;
    color: black;
}

.popularTitle
{
    grid-area: popularTitle;
    font-size: 1.15em;
    margin: 0.7em 1.3em 0.7em 0.9em;
    padding-top: 0.4em;
}

#popularIcon
{
    grid-area: popularIcon;
    position: absolute;
    top: 1.45em;
    right: 1.3em;
}

.popularGrid article
{
    height: 7em;
    padding: 0.3em;
    grid-column: 1 / span 2;
    border-radius: 1em;
    margin: 0 1em 1em 1em;
    background: white;
    overflow: hidden;
    position: relative;
    box-shadow: 0.1vw 0.3vw 0.7vw #dfd6d6;
}

.popArticle1
{
    grid-area: popArticle1;
}

.popArticle2
{
    grid-area: popArticle2;
}

.popArticle3
{
    grid-area: popArticle3;
}

.popOverlay
{
    background-color: white;
    position: absolute;
    left: 42%;
    top: 0%;
    bottom: 0%;
    padding: 1.7em 4em 1em 0.8em;
    font-size: 0.45em;
}

.popOverlay h3
{
    font-size: 1.9em;
    font-weight: 800;
}

.popOverlay p
{
    margin-top: 0.5em;
    font-size: 1.65em;
    font-weight: 500;
}

.popOverlay .starsContainer
{
    margin-top: 3em;
    padding-right: 0.1em;
    font-size: 1.35em;
}


.popImg
{
    height: 100%;
    width: 6.8em;
    object-fit: cover;
    border-radius: 0.7em 0 0 0.7em;
}



/*----------------------------------------
------------ACTIVITIES DESKTOP------------
----------------------------------------*/



.activitiesGrid
{
    display: grid;
    grid-template-rows: 3em 12em 15em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "activitiesTitle activitiesTitle activitiesTitle activitiesTitle"
        "actiArticle1 actiArticle2 actiArticle4 actiArticle5"
        "actiArticle1 actiArticle3 actiArticle4 actiArticle6";
    grid-auto-flow: column;
    margin: 1.5em;
    
}

.activitiesGrid a
{
    text-decoration: none;
    color: black;
}

.activitiesTitle
{
    grid-area: activitiesTitle;
    grid-column: 1 / span 4;
    margin: 1em 1.2em 0 1.2em;
    font-size: 1.1em;
    align-self:center;
}

.activitiesGrid article
{
    margin: 1em;
    width: 16em;
    
}

.actiArticle1
{
    grid-row: 2 / span 2;
    height: 21em;
}

.actiArticle3
{
    padding-top: 2.9em;
}

.actiArticle4
{
    grid-row: 2 / span 2;
    height: 21em;
}

.actiArticle6
{
    padding-top: 0.4em;
}

.actiImgTall
{
    width: 100%;
    height: 21em;
    object-fit: cover;
    border-radius: 1.2em 1.2em 0 0;
    
}

.actiImg2
{
    width: 100%;
    height: 9.6em;
    object-fit: cover;
    border-radius: 1.2em 1.2em 0 0;
}

.actiImg3
{
    width: 100%;
    height: 6.1em;
    object-fit: cover;
    border-radius: 1.2em 1.2em 0 0;
}

.actiImg5
{
    width: 100%;
    height: 7.4em;
    object-fit: cover;
    border-radius: 1.2em 1.2em 0 0;
}

.actiImg6
{
    width: 100%;
    height: 8.5em;
    object-fit: cover;
    border-radius: 1.2em 1.2em 0 0;
}

.actiOverlay
{
    background-color: white;
    padding: 0.8em;
    width: auto;
    height: 2em;
    font-size: 1vw;
    font-weight: 800;
    border-radius: 0 0 1.2em 1.2em;
}

.actiOverlay h3
{
    padding: 0.3em 0.3em;
    
}

.actiArticleContainer
{
    border-radius: 1.2em;
    box-shadow: 0.08vw 0.4vw 0.6vw #f2f2f2;
}



/*------------------------------------
------------FOOTER DESKTOP------------
------------------------------------*/


.footerGrid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    margin: 0;
    background-color: #f2f2f2;
    
}

.footerGrid div
{
    float: left;
    margin: 2em;
}


.footerGrid h2
{
    padding-bottom: 0.5em;
    font-size: 0.9em;
    font-weight: 800;
}

.footerGrid div ul
{
    padding-left: 0;
    margin-right: 6em;
    margin-left: 0;
}

.footerGrid div ul li
{
    list-style: none;
    font-size: 0.8em;
    font-weight: 500;
    padding-top: 1em;
}

.footerGrid div ul li a
{
    text-decoration: none;
    color: black;
}


/*-----------------------------
----------VUE MOBILE-----------
-----------------------------*/



@media screen and (max-width: 540px) 
{
    .upperGrid
    {
        margin: 0;
        grid-template-rows: 0.4fr 0.7fr 1.3fr;
    }


/*-----------------------------------
------------HEADER MOBILE------------
-----------------------------------*/


    .logo
    {
        font-size: 5vw;
        padding: 5.5vw 0 0 4.5vw;
    }

    .header nav
    {
        height: 42vw;
    }

    .header nav ul 
    {
        float: none;
        display: inline-flex;
        width: 100%;
        margin-right: 0;
    }

    .header nav ul li
    {
        margin: 4.5vw 0 0 0;
        padding: 0 0 4vw 0;
        border-bottom: 1vw solid #f2f2f2;
        width: 100%;
        font-size: 4vw;
    }

    .header li:hover
    {
        border-top: white;
        padding-top: 0.5vw;
        border-color: #0065FC;
    }

    .header nav ul a
    {
        width: 50%;
        text-align: center;
    }

    .header nav a strong
    {
        font-size: 4vw;
        font-weight: 800;
        right: 4.7vw;
    }

    .header strong:hover
    {
        border-color: white;
    }


/*-----------------------------------
------------SEARCH MOBILE------------
-----------------------------------*/

    .search
    {
        margin: 0 5vw;
    }

    .search h1
    {
        font-size: 5.82vw;
    }

    .search p 
    {
        font-size: 4.2vw;
        margin: 3.3vw 0 9.5vw 0;
    }

    .searchBox
    {
        margin: 0 0.9vw;
        width: auto;
        height: 13vw;
        border-radius: 4vw;
        display: inline-flex;
        align-self: center;
        
    }

    #locationIcon
    {
        width: 14vw;
        height: 13vw;
        font-size: 4.7vw;
        padding-top: 4vw;
    }

    #textArea
    {
        margin: 0.23vw 0 0 0;
        padding: 0 0 0 4vw;
        height: 12.5vw;
        width: 67.9vw;
        font-size: 4.5vw;
        
    }
   
    #textArea:focus
    {
        font-size: 4.5vw;
        padding: 0 9vw 0 4vw;
    }


    #searchButton
    {
        height: 13vw;
        width: 13vw;
        border-radius: 4vw;
        position: absolute;
        right: -6vw;
    }

    #searchButton p 
    {
        display: none;
    }

    .searchIcon
    {
        display: block;
        font-size: 4vw;
    }


/*------------------------------------
------------FILTERS MOBILE------------
------------------------------------*/

    .filters
    {
        margin: 0 4.7vw;
    }

    .filters h2
    {
        font-size: 4.7vw;
        float: none;
        margin: 9.4vw 0 3.3vw 0;
    }

    .filters p 
    {
        margin-top: 3.06vw;
        font-size: 4vw;
    }

    .filtersContainer
    {
        height: 11.7vw;
        border: 0.7vw solid #f2f2f2;
        border-left: none;
        border-radius: 6vw;
        margin: 0 3vw 3vw 0;
        padding-right: 4.2vw;
    }

    .filtersIconContainer
    {
        width: 12.4vw;
        height: 12.4vw;
        border-radius: 6vw;
        margin-right: 2.5vw;
    }

    .filtersIconContainer i 
    {
        font-size: 5.2vw;
    }

    .filtersContainer a 
    {
        font-size: 4vw;
    }

    .filtersParagraphContainer
    {
        display: inline-flex;
        margin: 3vw 0 0 0.2vw;
    }

    .infoIconContainer
    {
        justify-content: center;
        align-items: center;
        height: 5.2vw;
        width: 7.2vw;
        border-radius: 3vw;
        border-color: #f2f2f2;
    }

    #infoIcon
    {
        font-size: 2.8vw;
        padding-top: 0.3vw;
    }


/*------------------------------------
------------POPULAR MOBILE------------
------------------------------------*/

    .accPopGrid
    {
        display: grid;
        grid-template-rows: 166vw 368vw;
        grid-template-columns: 1fr;
        margin: 0 0 10vw 0;
    }

    .popularGrid
    {
        margin: 10vw 0;
        grid-template-rows: 22.7vw repeat(3, 41vw);
        height: 151vw;
    }

    .popularTitle
    {
        margin: 8.5vw 3.9vw;
        padding: 0;
        font-size: 5.6vw;
    }

    #popularIcon
    {
        font-size: 6vw;
        top: 9.1vw;
        right: 3.9vw;
    }

    .popularGrid article
    {
        margin: 0 3.9vw;
        height: 37.2vw;
        border-radius: 6vw;
    }

    .popImg
    {
        padding: 1vw;
        width: 34vw;
        height: 35.1vw;
        border-radius: 6vw 0 0 6vw;
    }

    .popOverlay
    {
        font-size: 2.2vw;

    }

/*------------------------------------------
------------ACCOMODATIONS MOBILE------------
------------------------------------------*/

    .accomodationsGrid
    {
        display: inline;
        grid-column: 1 / span2;
        grid-row: 2;
        background-color: white;
        margin: 0 3.9vw;
    }

    .accTitle
    {
        font-size: 5.6vw;
        margin: 3vw 0 6vw 0.1vw;
    }

    .accomodationsGrid article
    {
        width: auto;
        height: 50vw;
        margin-bottom: 3.3vw;
        border-radius: 6vw;
        border: 1.1vw solid white;
        box-shadow: 0.4vw 0.8vw 1.4vw 0.2vw #f2f2f2;
    }

    .accImg
    {
        height: 29.9vw;
        border-radius: 5vw 5vw 0 0;
    }

    .accOverlay
    {
        font-size: 5vw;
    }

    .accViewMoreContainer
    {
        font-size: 4.5vw;
        margin: 9vw 0 0 0;
    }


/*---------------------------------------
------------ACTIVITIES MOBILE------------
---------------------------------------*/


    .activitiesGrid
    {
        grid-template-rows: 18vw repeat(5, 55vw);
    }

    .activitiesTitle
    {
        grid-column: 1 / span4;
        margin: 2vw  0 2vw 3.5vw;
        font-size: 5.5vw;
    }

    .actiArticleContainer
    {
       
        box-shadow: 0.5vw 1vw 2vw 0.2vw #f2f2f2;
        border-radius: 5vw;
        margin: 1vw 2.5vw;
    }

    .activitiesGrid article
    {
        grid-column: 1 / span 4;
        width: auto;
    }

    .activitiesGrid img
    {
        height: 35.5vw;
        border-radius: 5vw 5vw 0 0;
    }
    .actiOverlay
    {
        font-size: 3.5vw;
        height: 8vw;
        border-radius: 0 0 5vw 5vw;
    }

    .actiArticle1
    {
        grid-row-start: 2;
    }

    .actiArticle2
    {
        grid-row-start: 3;
    }

    .actiArticle3
    {
        grid-row-start: 4;
        padding-top: 0;
    }

    .actiArticle4
    {
        grid-row-start: 5;
    }

    .actiArticle5
    {
        grid-row-start: 6;
    }

    .actiArticle6
    {
        grid-row-start: 7;
    }


/*-----------------------------------
------------FOOTER MOBILE------------
-----------------------------------*/


    .footerGrid
    {
        grid-template-rows: 42vw repeat(2, 34vw);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "div"
        "div"
        "div";
        padding-top: 12vw;
        margin-top: 11vw;
    }

    .footerGrid h2
    {
       margin-top: 1.4vw;
    }

    .footerGrid div
    {
        grid-area: "div";
        font-size: 5vw;
        line-height: 4vw;
        margin: 0 0 0 7vw;
    }  
}



/*-----------------------------
-------VUE INTERMEDIAIRE-------
-----------------------------*/



@media screen and (min-width: 540px) and (max-width: 950px)
{
    .upperGrid 
    {
        grid-template-rows: 0.6fr 0.8fr 1.3fr;
    }

/*------------------------------------------
------------HEADER INTERMEDIAIRE------------
------------------------------------------*/

    .logo 
    {
        font-size: 1.8em;
        padding-top: 1.8em;
    }

    .header nav ul li 
    {
        padding-top: 1.27em;
        margin: 0.1em 4em 2em 0;
        border-top: 0.3vw solid white;
        font-size: 1.5em;
    }

    .header li:hover 
    {
        border-top: 0.3vw solid #0065FC;
    }

    .header nav a strong
    {
        font-size: 1.5em;
        padding-top: 1.25em;
        right: 0.9em;
        border-top: 0.3vw solid white;
    }

    .header strong:hover
    {
        border-top: 0.3vw solid #0065FC;
    }

/*------------------------------------------
------------SEARCH INTERMEDIAIRE------------
------------------------------------------*/

    .search h1 
    {
        font-size: 1.8em;
      
    }

    .search p 
    {
        font-size: 2vw;
    }

    .searchbox 
    {
        height: 6.2vw;
        width: 43vw;
        border-radius: 2vw 0 0 2vw;
    }

    #locationIcon 
    {
        height: 5.9vw;
        width: 6vw;
        font-size: 2.2vw;
        
    }

    #textArea
    {
        height: 6vw;
        width: 29vw;
        font-size: 2.2vw;
        padding-right: 2vw;
    }

    #searchButton
    {
        height: 6.15vw;
        width: 14.7vw;
        font-size: 1.5vw;
        padding-top: 1vw;
        border-radius: 0 2vw 2vw 0 ;
    }

    .searchIcon 
    {
        display: none;
    }

/*------------------------------------------
-----------FILTERS INTERMEDIAIRE------------
------------------------------------------*/

    .filters 
    {
        margin-top: 3vw;
    }

    .filters h2 
    {
        font-size: 2vw;
        margin-top: 2.5vw;
    }
    .filtersContainer 
    {
        height: 6.8vw;
        border: 0.2vw solid #f2f2f2;
        border-radius: 4vw;
        margin: 0 5vw 2vw 0;
    }

    .filtersContainer a 
    {
        font-size: 2vw;
        margin: 0 2vw 0 2vw;
    }

    .filtersIconContainer 
    {
        width: 7vw;
        height: 7vw;
        border-radius: 4vw;
    }

    .filtersIconContainer i 
    {
        font-size: 2.7vw;
    }

    .filters p 
    {
         font-size: 2vw;
    }

    .infoIconContainer 
    {
        height: 3vw;
        width: 3vw;
        border-radius: 4vw;
    }

    #infoIcon
    {
        font-size: 1.5vw;
        line-height: 2em;
    }

    

/*------------------------------------------
-----------POPULAR INTERMEDIAIRE------------
------------------------------------------*/

    .accPopGrid 
    {
        margin: 2em 0 0 0;
        grid-template-columns: 1fr;
        grid-template-rows: 63em 87em;
    
    }

    .popularGrid
    {
        grid-column: 1 / span 2;
        grid-row: 1;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 7.5em repeat(2, 27em);
        grid-template-areas:
            "popularTitle popularIcon"
            "popArticle1 popArticle2"
            "popArticle3 popArticle3";
        height: 63em;
        padding: 0;
        margin: 0 2em;
        border-radius: 3em;
        grid-column: span 1;
    }

    .popularTitle
    {
        margin: 1em 0 1.2em 1.3em;
        font-size: 3vw;
    }

    #popularIcon
    {
        font-size: 3.5vw;
        top: 4.6vw;
        right: 1.5em;
    }

    .popularGrid article 
    {
        height: 23em;
        width: auto;
        padding: 0.5em;
        border-radius: 3em;
        margin: 1em 3em;
        grid-column: span 1;
    }

    .popImg 
    {
        height: 73%;
        width: 100%;
        border-radius: 2.55em 2.55em 0 0;
    }

    .popOverlay 
    {
        left: 0%;
        top: 69%;
        width: 64em;
        padding-left: 3.2em;
    }

    .popOverlay h3
    {
        font-size: 3.5em;
    }

    .popOverlay p 
    {
        margin-top: 0.3em;
        font-size: 2.85em;
    }

    .popOverlay .starsContainer 
    {
        margin-top: 0;
        font-size: 2.35em;
    }

/*------------------------------------------
--------ACCOMODATIONS INTERMEDIAIRE---------
------------------------------------------*/

    .accomodationsGrid
    {
        grid-column: 1 / span 2;
        grid-row: 2;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 9em repeat(3, 25em);
        margin: 0;
        padding: 0 1.2em;
        background: none;
        height: 80em;
    }

    .accTitle
    {
        font-size: 3vw;
        margin: 1em 1em 1em 0.3em;
    }

    .accomodationsGrid article
    {
        grid-column: span 2;
        width: 28em;
        height: 22em;
        border-radius: 3em;
    }

    .accImg 
    {
        height: 14.8em;
        border-radius: 2.6em 2.6em 0 0;
    }

    .accOverlay
    {
        padding: 0.8em 1.5em;
    }
    .accOverlay h3
    {
        font-size: 1.6em;
    }

    .accOverlay p 
    {
        font-size: 1.3em;
        margin-top: 0.3em;
    }

    .starsContainer 
    {
        font-size: 1.1em;
    }

    .accViewMoreContainer 
    {
        margin-left: 4.7em;
        height: 3em;
        grid-column : span 3;
    }

    .accViewMore 
    {
        font-size: 1.9em;
    }

/*------------------------------------------
---------ACTIVITIES INTERMEDIAIRE-----------
------------------------------------------*/

    .activitiesGrid 
    {
        height: 87em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 7em repeat(4, 20em);
    }

    .activitiesGrid h2
    {
        font-size: 3vw;
        margin: 0 0 0 0.3em;
    }
    
    .activitiesGrid article 
    {
        width: auto;
    }

    .actiArticle3
    {
        padding-top: 1.2em;
    }

    .actiArticle4
    {
        grid-column: 1 / span 1;
        grid-row: 4 / span 2;
    }

    .actiImgTall 
    {
        height: 31em;
    }

    .actiImg2
    {
        height: 13.6em;
    }

    .actiImg3
    {
        height: 9.8em;
    }

    .actiImg5
    {
        height: 12.8em;
    }

    .actiImg6
    {
        height: 10.7em;
    }

    .actiOverlay 
    {
        font-size: 2vw;
        height: 2em;
    }

/*------------------------------------------
------------FOOTER INTERMEDIAIRE------------
------------------------------------------*/

    .footerGrid 
    {
        grid-template-columns: 26em 1.2fr 1fr;
    }

    .footerGrid div 
    {
        margin: 3em 0 3em 3em;;
    }

    .footerGrid h2 
    {
        font-size: 1.9em;
    }

    .footerGrid div ul
    {
        margin-right: 0;
    }

    .footerGrid div ul li
    {
        font-size: 1.4em;
    }
}